<!-- <div class="medium primary btn">
  <a href="#">Primary</a>
</div> -->


<!-- <nav class="navbar">
  <a href="#" class="toggle" data-for=".basicnav > ul"><img src="img/icon_nav_toggle.gif" /></a>
  <ul>
    <li><a href="#">First Item</a></li>
    <li><a href="#">Second Item</a></li>
    <li><a href="#">Third Item</a></li>
    <li><a href="#">Fourth Item</a></li>
    <li>
      <div class="field">
        <p class="text search oval"><input type="search" placeholder="Search" /></p>
      </div>
    </li>
  </ul>
</nav> -->

<!-- <h3 style="color:#05390a">05390a-000000</h3>
<h3 style="color:#114a1e">114a1e-202020</h3>
<h3 style="color:#1d692d">1d692d-404040</h3>
<h3 style="color:#2d9047">2d9047-606060</h3>
<h3 style="color:#5dbb73">5dbb73-808080</h3>
<h3 style="color:#77d58e">77d58e-a0a0a0</h3>
<h3 style="color:#94dda6">94dda6-c0c0c0</h3>
<h3 style="color:#999">999</h3>
<h3 style="color:#141414">141414</h3>
<h3 style="color:#00a6fc">00a6fc</h3> -->

<div class="row" style="text-align:center">
<div id="slideshow">
        <div id="slideshowWindow">

        
                <div class="slide">        
                        <%=image_tag "slide1.jpg"%>
                                <!-- <div class="slideText">
                                        <h2 class="slideTitle">Slide 1</h2>
                                        <p class="slideDes">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        <p>
                                        <p class="slideLink">
                                        <%=link_to "click here", "#", :remote => true%>
                                        </p>
                                </div> -->
                </div>

                <div class="slide">
                        <%=image_tag "slide2.jpg"%>
                                <!-- <div class="slideText">
                                <h2 class="slideTitle">Slide 2</h2>
                                        <p class="slideDes">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        <p>
                                        <p class="slideLink">
                                        <%=link_to "click here", "#", :remote => true%>
                                        </p>
                                </div> -->
                                
                </div>

                <div class="slide">
                        <%=image_tag "slide3.jpg"%>

                        <!-- <div class="slideText">
                                <h2 class="slideTitle">Slide 3</h2>
                                        <p class="slideDes">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        <p>
                                        <p class="slideLink">
                                        <%=link_to "click here", "#", :remote => true%>
                                        </p>
                                </div> -->
                </div>

                <div class="slide">
                        <%=image_tag "slide4.jpg"%>

                        <!-- <div class="slideText">
                                <h2 class="slideTitle">Slide 4</h2>
                                        <p class="slideDes">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        <p>
                                        <p class="slideLink">
                                        <%=link_to "click here", "#", :remote => true%>
                                        </p>
                                </div> -->
                </div>

                <div class="slide">
                        <%=image_tag "slide5.jpg"%>

                        <!-- <div class="slideText">
                                <h2 class="slideTitle">Slide 5</h2>
                                        <p class="slideDes">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        <p>
                                        <p class="slideLink">
                                        <%=link_to "click here", "#", :remote => true%>
                                        </p>
                                </div> -->
                </div>

        </div>
</div>
</div>





  <div class="row">
    <div class="twelve columns special head">
      <h2>Suresh Kamblikar</h2>
      <!-- <h2>A <span>responsive <span>960</span> grid</span>
      from <a href="#">Digital Surgeons</a></h2> -->
      <h2>A Cyclist</h2>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <p>940px</p>
    </div>
  </div>

  <!-- Offset Tests -->
  <div class="row">
    <div class="twelve columns special">
      <p>Columns pushed right by 'x'</p>
    </div>
  </div>

  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns push_ten">
      <p>60px</p>
    </div>
  </div>

  <!-- Offset Tests -->
  <div class="row">
    <div class="twelve columns special">
      <p>Columns pushed and pulled by 'x'</p>
    </div>
  </div>




  <!-- Centering tests -->
  <div class="row">
    <div class="twelve columns special">
      <p>Centered Columns</p>
    </div>
  </div>

  <!-- Sixteen Column Grid -->
  <section class="sixteen colgrid">

    <div class="row">
      <div class="sixteen columns special">
        <p>Responsive 16 Column Grid</p>
      </div>
    </div>

    <!-- Offset Tests -->
    <div class="row">
      <div class="sixteen columns special">
        <p>Columns pushed right by 'x'</p>
      </div>
    </div>
 


    <!-- Offset Tests -->
    <div class="row">
      <div class="sixteen columns special">
        <p>Columns pushed and pulled by 'x'</p>
      </div>
    </div>

    <!-- Centering tests -->
    <div class="row">
      <div class="sixteen columns special">
        <p>Centered Columns</p>
      </div>
    </div>

  </section>