<!-- <div class="medium primary btn">
  <a href="#">Primary</a>
</div> -->

<!-- <nav class="navbar">
  <a href="#" class="toggle" data-for=".basicnav > ul"><img src="img/icon_nav_toggle.gif" /></a>
  <ul>
    <li><a href="#">First Item</a></li>
    <li><a href="#">Second Item</a></li>
    <li><a href="#">Third Item</a></li>
    <li><a href="#">Fourth Item</a></li>
    <li>
      <div class="field">
        <p class="text search oval"><input type="search" placeholder="Search" /></p>
      </div>
    </li>
  </ul>
</nav> -->


<!-- <table width="600">
    <tr>
        <td valign="top">
            <h3 class="phone icon">phone</h3>              
            <h3 class="smartphone icon">smartphone</h3>
            <h3 class="mouse icon">mouse</h3>
            <h3 class="roadsign icon">roadsign</h3>
            <h3 class="mail icon">mail</h3>
            <h3 class="write icon">write</h3>
            <h3 class="attachment icon">attachment</h3>
            <h3 class="back icon">back</h3>
            <h3 class="doubleback icon">doubleback</h3>
            <h3 class="forward icon">forward</h3>
            <h3 class="user icon">user</h3>
            <h3 class="usergroup icon">usergroup</h3>
            <h3 class="adduser icon">adduser</h3>
            <h3 class="profie icon">profie</h3>
            <h3 class="newwindow icon">newwindow</h3>
            <h3 class="mappin icon">mappin</h3>
            <h3 class="map icon">map</h3>
            <h3 class="compass icon">compass</h3>
            <h3 class="compasshand icon">compasshand</h3>
            <h3 class="crosshair icon">crosshair</h3>
            <h3 class="link icon">link</h3>
            <h3 class="heart icon">heart</h3>
            <h3 class="star icon">star</h3>
            <h3 class="thumbsup icon">thumbsup</h3>
            <h3 class="conversation icon">conversation</h3>
            <h3 class="comment icon">comment</h3>
            <h3 class="rightquote icon">rightquote</h3>
            <h3 class="printer icon">printer</h3>
            <h3 class="bell icon">bell</h3>
            <h3 class="brokenlink icon">brokenlink</h3>
            <h3 class="flag icon">flag</h3>
        </td>
        <td valign="top">
            <h3 class="gear icon">gear</h3>
            <h3 class="flashlight icon">flashlight</h3>
            <h3 class="trophy icon">trophy</h3>
            <h3 class="tag icon">tag</h3>
            <h3 class="camera icon">camera</h3>
            <h3 class="moon icon">moon</h3>
            <h3 class="palette icon">palette</h3>
            <h3 class="envato icon">envato</h3>
            <h3 class="musicnote icon">musicnote</h3>
            <h3 class="bag icon">bag</h3>
            <h3 class="airplane icon">airplane</h3>
            <h3 class="lifesaver icon">lifesaver</h3>
            <h3 class="rings icon">rings</h3>
            <h3 class="eye icon">eye</h3>
            <h3 class="clock icon">clock</h3>
            <h3 class="microphone icon">microphone</h3>
            <h3 class="calender icon">calender</h3>
            <h3 class="bolt icon">bolt</h3>
            <h3 class="hourglass icon">hourglass</h3>
            <h3 class="rss icon">rss</h3>
            <h3 class="signal icon">signal</h3>
            <h3 class="lock icon">lock</h3>
            <h3 class="unlock icon">unlock</h3>
            <h3 class="checkmark icon">checkmark</h3>
            <h3 class="xmark icon">xmark</h3>
            <h3 class="minuscircle icon">minuscircle</h3>
            <h3 class="pluscircle icon">pluscircle</h3>
            <h3 class="xmarkcircle icon">xmarkcircle</h3>
            <h3 class="minus icon">minus</h3>
            <h3 class="plus icon">plus</h3>
            <h3 class="info icon">info</h3>
        </td>
        <td valign="top">
            <h3 class="cancel icon">cancel</h3>
            <h3 class="infocircle icon">infocircle</h3>
            <h3 class="questionmark icon">questionmark</h3>
            <h3 class="questioncircle icon">questioncircle</h3>
            <h3 class="caution icon">caution</h3>
            <h3 class="clockwise icon">clockwise</h3>
            <h3 class="counterclockwise icon">counterclockwise</h3>
            <h3 class="crosspaths icon">crosspaths</h3>
            <h3 class="backarrow icon">backarrow</h3>
            <h3 class="looparrow icon">looparrow</h3>
            <h3 class="list icon">list</h3>
            <h3 class="listadd icon">listadd</h3>
            <h3 class="window icon">window</h3>
            <h3 class="document icon">document</h3>
            <h3 class="portrait icon">portrait</h3>
            <h3 class="copydocument icon">copydocument</h3>
            <h3 class="landscape icon">landscape</h3>
            <h3 class="photos icon">photos</h3>
            <h3 class="video icon">video</h3>
            <h3 class="music icon">music</h3>
            <h3 class="folder icon">folder</h3>
            <h3 class="cabinet icon">cabinet</h3>
            <h3 class="trash icon">trash</h3>
            <h3 class="upload icon">upload</h3>
            <h3 class="download icon">download</h3>
            <h3 class="hdd icon">hdd</h3>
            <h3 class="cloud icon">cloud</h3>
            <h3 class="cloudupload icon">cloudupload</h3>
            <h3 class="play icon">play</h3>
            <h3 class="pause icon">pause</h3>
            <h3 class="record icon">record</h3>
        </td>
        <td valign="top">
            <h3 class="stop icon">stop</h3>
            <h3 class="creativecommons icon">creativecommons</h3>
            <h3 class="widewindow icon">widewindow</h3>
            <h3 class="nexttrack icon">nexttrack</h3>
            <h3 class="previoustrack icon">previoustrack</h3>
            <h3 class="beginningtrack icon">beginningtrack</h3>
            <h3 class="endtrack icon">endtrack</h3>
            <h3 class="zoomout icon">zoomout</h3>
            <h3 class="zoomin icon">zoomin</h3>
            <h3 class="volume icon">volume</h3>
            <h3 class="volumeoff icon">volumeoff</h3>
            <h3 class="volumeon icon">volumeon</h3>
            <h3 class="leftarrow icon">leftarrow</h3>
            <h3 class="uparrow icon">uparrow</h3>
            <h3 class="downarrow icon">downarrow</h3>
            <h3 class="rightarrow icon">rightarrow</h3>
            <h3 class="leftarrowsmall icon">leftarrowsmall</h3>
            <h3 class="uparrowsmall icon">uparrowsmall</h3>
            <h3 class="downarrowsmall icon">downarrowsmall</h3>
            <h3 class="rightarrowsmall icon">rightarrowsmall</h3>
            <h3 class="leftarrowcircle icon">leftarrowcircle</h3>
            <h3 class="uparrowcircle icon">uparrowcircle</h3>
            <h3 class="downarrowcircle icon">downarrowcircle</h3>
            <h3 class="rightarrowcircle icon">rightarrowcircle</h3>
            <h3 class="home icon">home</h3>
            <h3 class="bookmark icon">bookmark</h3>
            <h3 class="maximize icon">maximize</h3>
            <h3 class="opendocument icon">opendocument</h3>
            <h3 class="search icon">search</h3>
            <h3 class="ellipsis icon">ellipsis</h3>
        </td>
    </tr>
</table> -->


<!-- <h3 style="color:#05390a">05390a-000000</h3>
<h3 style="color:#114a1e">114a1e-202020</h3>
<h3 style="color:#1d692d">1d692d-404040</h3>
<h3 style="color:#2d9047">2d9047-606060</h3>
<h3 style="color:#5dbb73">5dbb73-808080</h3>
<h3 style="color:#77d58e">77d58e-a0a0a0</h3>
<h3 style="color:#94dda6">94dda6-c0c0c0</h3>
<h3 style="color:#999">999</h3>
<h3 style="color:#141414">141414</h3>
<h3 style="color:#c03d20">00a6fc</h3> -->

<div class="row" style="text-align:center">
<div id="slideshow">
        <div id="slideshowWindow">

        
                <div class="slide">        
                        <%=image_tag "slide1.jpg"%>
                                <!-- <div class="slideText">
                                        <h2 class="slideTitle">Slide 1</h2>
                                        <p class="slideDes">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        <p>
                                        <p class="slideLink">
                                        <%=link_to "click here", "#", :remote => true%>
                                        </p>
                                </div> -->
                </div>

                <div class="slide">
                        <%=image_tag "slide2.jpg"%>
                                <!-- <div class="slideText">
                                <h2 class="slideTitle">Slide 2</h2>
                                        <p class="slideDes">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        <p>
                                        <p class="slideLink">
                                        <%=link_to "click here", "#", :remote => true%>
                                        </p>
                                </div> -->
                                
                </div>

                <div class="slide">
                        <%=image_tag "slide3.jpg"%>

                        <!-- <div class="slideText">
                                <h2 class="slideTitle">Slide 3</h2>
                                        <p class="slideDes">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        <p>
                                        <p class="slideLink">
                                        <%=link_to "click here", "#", :remote => true%>
                                        </p>
                                </div> -->
                </div>

                <div class="slide">
                        <%=image_tag "slide4.jpg"%>

                        <!-- <div class="slideText">
                                <h2 class="slideTitle">Slide 4</h2>
                                        <p class="slideDes">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        <p>
                                        <p class="slideLink">
                                        <%=link_to "click here", "#", :remote => true%>
                                        </p>
                                </div> -->
                </div>

                <div class="slide">
                        <%=image_tag "slide5.jpg"%>

                        <!-- <div class="slideText">
                                <h2 class="slideTitle">Slide 5</h2>
                                        <p class="slideDes">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        <p>
                                        <p class="slideLink">
                                        <%=link_to "click here", "#", :remote => true%>
                                        </p>
                                </div> -->
                </div>

        </div>
</div>
</div>
<br/>

  <!-- <div class="row">
    <div class="four columns" style="border:solid">
      <h5><i class="icon-star-empty"></i> LATEST NEWS</h5>
    </div>
    <div class="four columns" style="border:solid">
      <h5><i class="icon-star-empty"></i> Carrer Highlights</h5>
    </div>
    <div class="four columns" style="border:solid">
      <h5><i class="icon-star-empty"></i> Suresh's Updates</h5>
    </div>
  </div> -->



<div class="row" style = 'border-bottom:1px solid #eee;padding:1%; padding-bottom:4%'>
    <div class="four columns">
      <div class="thumbnail layers normalize-layer" style = 'min-height:250px;border:1px solid #e0e0e0;border-right:;border-radius:40px;padding-right:10%;background:#000000'>
        <div class="caption" style = 'padding:10%'>
          <h5 style = 'margin-top:0;color:#60D3D7;font-weight:200;text-shadow:0 1px 2px #191A1B, 0 1px 0 #191A1B'>
            <i class="icon-star-empty"></i>
            LATEST NEWS</h5><hr/>
          <p style = 'font-weight:300;font-size:17px'>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live...</p>
          <a class="oval btn" href = "news" style = "text-align:center;color:#ffffff">View More
            <i class="icon-forward"></i></a></div></div>
    </div>
    <div class="four columns">
      <div class="thumbnail layers normalize-layer" style = 'min-height:250px;border:1px solid #e0e0e0 ;border-right:;border-radius:40px;padding-right:10%;background:#000000'>
        <div class="caption" style = 'padding:10%'>
          <h5 style = 'margin-top:0;color:#60D3D7;font-weight:200;text-shadow:0 1px 2px #191A1B, 0 1px 0 #191A1B'>
            <i class="icon-star-empty"></i>
            CAREER HIGHLIGHTS</h5><hr/>
          <p style = 'font-weight:300;font-size:17px'>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which...</p>
          <a class="oval btn" href = "career" style = "text-align:center;color:#ffffff">View More
            <i class="icon-forward"></i></a></div></div>
    </div>
    <div class="four columns">
      <div class="thumbnail layers normalize-layer" style = 'min-height:250px;border:1px solid #e0e0e0;border-right:;border-radius:40px;padding-right:10%;background:#000000'>
        <div class="caption" style = 'padding:10%'>
          <h5 style = 'margin-top:0;color:#60D3D7;font-weight:200;text-shadow:0 1px 2px #191A1B, 0 1px 0 #191A1B'>
            <i class="icon-star-empty"></i>
            SURESH'S UPDATES</h5><hr/>
          <p style = 'font-weight:300;font-size:17px'>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by...</p>
          <a class="oval btn" href = "updates" style = "text-align:center;color:#ffffff">View More
            <i class="icon-forward"></i></a></div></div>
    </div>
</div>